* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.marcup {
    width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
}

.image {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 20px auto;
    background-color: #222;
}

.text {
    margin: 5px 0;
    color: #333;
    font-size: 16px;
    color: grey;
}

.text:first-of-type {
    font-size: 18px;
    font-weight: bold;
}

.text:nth-of-type(2) {
    color: gray;
}

.list {
    display: flex;
    background: #e0e0e0;
    border-top: 1px solid #ccc;
}

.listyle {
    flex: 1;
    padding: 10px;
    text-align: center;
    border-right: 1px solid #ccc;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 800;
}

.listyle:last-child {
    border-right: none;
}

.listyle span:last-child {
    font-size: 16px;
    font-weight: bold;
}

.listyle span:first-child {
    font-size: 14px;
    font-weight: normal;
}

.listyle span {
    font-size: 18px;
    display: block;
    font-weight: 800;

}

.textbl {
    color: black;
    font-weight: 800;
    font-size: 28px;
}