.item {
    display: flex;
    align-items: center;
    padding: 10px;
    /* інші стилі */
}

.status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}

.avatar {
    margin-right: 10px;
}

.name {
    font-weight: bold;
}